:root.theme-dark {
  --bg-color: #000028;
  --main-font-color: #F1B2CE;
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --accent-color: #FF0070;
  --accent-color-title: #DB00FF;
  --switcher-theme-color: #FF0070;
  --button-text-color: #FF0070;
  --button-outline-color: rgb(255 0 112 / 40%);
  --button-focus-color: #FF0070;
  --bg-image: url('../images/cover-image-dark.png');
}