:root.theme-light {
  --bg-color: #FFF1F7;
  --main-font-color: #353430;
  --title-color: #353430;
  --subtitle-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-title: #FFC2E6;
  --switcher-theme-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
}

.theme-light .rec_element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --main-font-color: #353430;
    --title-color: #353430;
    --subtitle-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-title: #FFC2E6;
    --switcher-theme-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
  }
}