.page {
  font-family: var(--main-font, 'IBM Plex mono'), monospace;
  font-size: var(--main-font-size, 18px);
  font-weight: 400;
  line-height: 1.3em;
  position: relative;
  color: var(--main-font-color, #F1B2CE);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url('../images/cover-image-dark.png'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.decorated-zone::after,
.decorated-zone::before {
  position: absolute;
  width: 25px;
  height: 25px;
  content: '';
}

.decorated-zone::before {
  top: var(--main-padding-small, 10px);
  right: var(--main-padding-small, 10px);
  border-top: 1px solid var(--switcher-theme-color, #FF0070);
  border-right: 1px solid var(--switcher-theme-color, #FF0070);
}

.decorated-zone::after {
  bottom: var(--main-padding-small, 10px);
  left: var(--main-padding-small, 10px);
  border-bottom: 1px solid var(--switcher-theme-color, #FF0070);
  border-left: 1px solid var(--switcher-theme-color, #FF0070);
}

.rec_element {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--switcher-theme-color, #FF0070);
  gap: 10px;
}

.rec_element:before {
  line-height: 1.4em;
  content: "REC";
}

.rec_element:after {
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
  background: var(--accent-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
}

.header {
  position: relative;
  display: grid;
  align-items: center;
  padding: var(--main-padding-small, 10px);
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 40px;
}

.header__theme-menu {
  height: max-content;
}

.header__theme-menu-list {
  display: flex;
  align-items: end;
  flex-direction: column;
  block-size: 100%;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 1em;
  text-align: center;
  text-transform: lowercase;
  color: var(--accent-color, #FF0070);
  border: none;
  background-color: transparent;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-outline-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-focus-color, #FF0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--switcher-theme-color, #FF0070);
}

.header__title {
  font-size: var(--title-font-size-small, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: var(--title-font-weight, 700);
  line-height: 82.5%;
  cursor: default;
  text-transform: lowercase;
  color: var(--accent-color-title, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  place-self: center;
}

.header__subtitle {
  font-size: var(--main-font-size, 18px);
  font-weight: var(--title-font-weight, 700);
  line-height: 1.3em;
}

.title-decor {
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #FF0070);
}

.content {
  display: grid;
  padding: 0 var(--main-padding-small, 10px);
  grid-template-columns: 1fr;
  gap: 50px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__section-title {
  color: var(--title-color, #FF0070);
  justify-self: start;
}

.content__section-text_block-subtitle,
.content__section-title {
  font-size: var(--main-font-size, 18px);
  font-weight: var(--title-font-weight, 700);
}

.content__section-text_block-subtitle {
  height: min-content;
  margin-block-end: 10px;
}

.content__section-text_block-text:not(:nth-of-type(1)) {
  margin-block-start: 20px;
}

.content__gallery {
  gap: 0;
}

.content__how .content__section-text_block-subtitle {
  font-weight: 400;
}

.content__how .tips-subtitle {
  font-weight: var(--title-font-weight, 700);
  margin-block-end: 20px;
}

.content__section-images_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 10px;
  inline-size: 100%;
}

.content__section-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.link-decor:hover {
  cursor: pointer;
  border-block-end: 1px solid currentColor;
}

.link-decor:focus-visible {
  border: 1px solid currentColor;
}

.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-columns: 1fr;
  margin-block-start: 40px;
}

.footer__title {
  font-size: var(--title-font-size-small, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: var(--title-font-weight, 700);
  line-height: 95.7%;
  align-self: center;
  cursor: default;
  color: var(--accent-color-title, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  justify-self: center;
}

@media (width >= 768px) {
  .rec_element {
    top: 20px;
    right: 30px;
  }

  .decorated-zone::before {
    top: var(--main-padding-big, 20px);
    right: var(--main-padding-big, 20px);
  }

  .decorated-zone::after {
    bottom: var(--main-padding-big, 20px);
    left: var(--main-padding-big, 20px);
  }

  .header {
    padding: var(--main-padding-big, 20px);
    grid-template-columns: 1fr 1fr;
    margin-block-end: 60px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    font-size: var(--title-font-size-big, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
    grid-column: 1 / 3;
    justify-self: start;
    margin-inline-start: -20px;
  }

  .header__subtitle {
    grid-column: 2;
    max-inline-size: 50vw;
  }

  .content {
    padding: 0 var(--main-padding-big, 20px);
    gap: 80px;
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__why, .content__how {
    grid-template-columns: 236px 1fr;
  }

  .content__section-text_block {
    grid-column: 2 / 4;
  }

  .content__what .content__section-title {
    grid-column: 1;
  }

  .content__what .content__section-text_block {
    grid-column: 1 / 4;
  }

  .content__gallery .content__section-text_block-subtitle {
    grid-column: 1 / 4;
    margin-block-end: 20px;
  }

  .content__gallery {
    grid-template-columns: 1fr;
    gap: initial;
  }

  .content__section-images_gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .content__section-image:nth-child(5) {
    grid-column: -1 / 2;
  }

  .content__section-image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .content__section-image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .content__section-image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .footer {
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: var(--title-font-size-big, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }

}

@media (width >= 1024px) {

  .header__theme-menu {
    align-self: start;
    grid-column: 1 / 3;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__why, .content__how {
    grid-template-columns: 315px 1fr;
  }

  .content__what .content__section-text_block:nth-of-type(1) {
    grid-column: 1;
  }

  .content__what .content__section-text_block:nth-of-type(2) {
    grid-column: 2;
  }

  .content__what .content__section-text_block:nth-of-type(3) {
    grid-column: 3;
  }
}