/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font), monospace;
  font-weight: normal;
  font-size: 18px;
  color: var(--main-font-color);
  background-color: var(--bg-color);
  padding: 10px;
  background-image: var(--bg-image);
  object-fit: cover;
  object-position: center;
  background-attachment: fixed;
}


.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  min-height: 100vh;
  margin-block-end: 40px;
}

.rec_element{
  justify-self: end;
  position: relative;
  color: var(--accent-color);
  block-size: 26px;
  inline-size: 52px;
}

.rec_element:before {
  content: "REC";
  position: absolute;
  line-height: 25px;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.rec_element:after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  right: 10px;
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
  transform: translateY(-50%);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  text-align: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid #FF007040;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active{
  border: 1px solid var(--accent-color);
}

.header__title {
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 96px;
  text-transform: lowercase;
  color: var(--accent-color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-self: start;
  font-style: normal;
  font-weight: var(--bold-font-weight);
  font-size: var(--subtitle-font-size);
  line-height: 1.3em;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__section-title{
  color: var(--accent-color);
}

.content__section-image_block{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__section-image{
  inline-size: 355px;
}

.link-decor {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.link-decor:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link-decor:focus-visible {
  border: 1px solid currentColor;
}

.footer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 40px;
}

.footer__title{
  font-weight: var(--bold-font-weight);
  font-size: var(--title-font-size);
  justify-self: center;
  align-self: center;
  color: var(--accent-color-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}